.banner-wrapper {
  width: 100%;
  background-color: white; /* 👈 đổi nền thành trắng */

  position: relative;
  z-index: 999;
  height: 30px; /* cao hơn một chút nếu cần */
  display: flex;
  justify-content: center;
}

.banner-container {
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}

.banner-track {
  display: inline-block;
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px; /* 👈 chữ to hơn */
  color: #5c5147; /* màu cam đậm */
  animation: scroll-back-and-forth 10s ease-in-out infinite;
  padding: 4px 0;
}

@keyframes scroll-back-and-forth {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0%);
  }
}
