.banner-wrapper {
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 999;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.banner-link {
  text-decoration: none;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.banner-text {
  color: #5c5147;

  transition: color 0.3s ease;
}

.facebook-icon {
  color: #1877f2;

  transition: color 0.3s ease;
}

.banner-track {
  display: inline-block;
  white-space: nowrap;
  font-weight: 600;
  font-size: 1rem;
  color: #5c5147;
  padding: 4px 0;
  animation: scroll-marquee 15s linear infinite;
}

.banner-track strong {
  font-weight: bold;
  color: #5bc831;
}
.contact-link {
  font-weight: bold;
  color: #5bc831; /* hoặc màu khác như #007bff */
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: none;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
